@import url('./styles/reset.css');
@import url('./styles/aside.css');

:root {
	--accent: #272736;
	--background: white;
	--color: black;
	--border-color: var(--background);
	--border-width: 10px;
	--code-bg: rgb(194, 194, 209,.2)
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent: #c2c2d1;
		--background: #272736;
		--color: white;
		--border-color: var(--background);
	}	
}