blockquote {
	--quote-accent-color: var(--accent);
	--quote-background: var(--code-bg);
	border: 0;
	border-left: 5px solid var(--quote-accent-color);
	padding-left: 35px;
	background: var(--quote-background);
}

blockquote p:first-of-type::before {
	color: var(--quote-accent-color);
	font-weight: bolder;
}

blockquote.info {
	--quote-accent-color: var(--info);
	--quote-background: var(--info-bg);
}
blockquote.warning {
	--quote-accent-color: var(--warning);
	--quote-background: var(--warning-bg);
}
blockquote.danger {
	--quote-accent-color: var(--danger);
	--quote-background: var(--danger-bg);
}
blockquote.success {
	--quote-accent-color: var(--success);
	--quote-background: var(--success-bg);
}
